force-app/main/default/flows/Assign_Facilities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <label>Assign Facilities</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <variables>
        <name>employee_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>office_location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboarding_request_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>desk_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parking_slot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>floor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>facilities_request_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <decisions>
        <name>Check_Location</name>
        <label>Check Office Location</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_Default_Facilities</targetReference>
        </defaultConnector>
        <rules>
            <name>Hyderabad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Hyderabad</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hyderabad_Facilities</targetReference>
            </connector>
            <label>Hyderabad</label>
        </rules>
        <rules>
            <name>Mumbai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Mumbai</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mumbai_Facilities</targetReference>
            </connector>
            <label>Mumbai</label>
        </rules>
        <rules>
            <name>Delhi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Delhi</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delhi_Facilities</targetReference>
            </connector>
            <label>Delhi</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_Hyderabad_Facilities</name>
        <label>Assign Hyderabad Facilities</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>desk_number</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>HYD-A-042</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parking_slot</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>HYD-P-12</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floor</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Floor 3, Block A</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Facilities_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Mumbai_Facilities</name>
        <label>Assign Mumbai Facilities</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>desk_number</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>MUM-B-018</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parking_slot</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>MUM-P-07</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floor</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Floor 5, Block B</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Facilities_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Delhi_Facilities</name>
        <label>Assign Delhi Facilities</label>
        <locationX>302</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>desk_number</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>DEL-C-031</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parking_slot</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>DEL-P-22</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floor</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Floor 2, Block C</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Facilities_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Default_Facilities</name>
        <label>Assign Default Facilities</label>
        <locationX>428</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>desk_number</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>TBD</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parking_slot</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>TBD</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floor</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>TBD</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Facilities_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Facilities_ID_Output</name>
        <label>Set Facilities ID Output</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>facilities_request_id</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Facilities_Record</elementReference></value>
        </assignmentItems>
    </assignments>

    <recordCreates>
        <name>Create_Facilities_Record</name>
        <label>Create Facilities Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Set_Facilities_ID_Output</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value><elementReference>employee_name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value><elementReference>office_location</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Desk_Number__c</field>
            <value><elementReference>desk_number</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Slot__c</field>
            <value><elementReference>parking_slot</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor__c</field>
            <value><elementReference>floor</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Assigned</stringValue></value>
        </inputAssignments>
        <object>Facilities_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Location</targetReference>
        </connector>
    </start>
</Flow>
