force-app/main/default/flows/Create_Onboarding_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <label>Create Onboarding Request</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <variables>
        <name>employee_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>office_location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboarding_request_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <recordCreates>
        <name>Create_Onboarding_Record</name>
        <label>Create Onboarding Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_ID_Output</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>employee_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>office_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <assignments>
        <name>Set_ID_Output</name>
        <label>Set ID Output</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>onboarding_request_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Onboarding_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Onboarding_Record</targetReference>
        </connector>
    </start>
</Flow>
