force-app/main/default/flows/Provision_IT_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_Systems</name>
        <label>Assign Default Systems</label>
        <locationX>428</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>systems_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce, Teams, Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IT_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engineering_Systems</name>
        <label>Assign Engineering Systems</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>systems_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GitHub, Jira, Confluence, Slack</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IT_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Finance_Systems</name>
        <label>Assign Finance Systems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>systems_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP, Salesforce, Excel Online</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IT_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HR_Systems</name>
        <label>Assign HR Systems</label>
        <locationX>302</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>systems_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Workday, Salesforce, Teams</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IT_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>systems_provisioned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>systems_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>it_request_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_IT_Request</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Department</name>
        <label>Check Department</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Systems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engineering_Systems</targetReference>
            </connector>
            <label>Engineering</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Finance_Systems</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>HR_Dept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HR_Systems</targetReference>
            </connector>
            <label>HR</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_IT_Request</name>
        <label>Create IT Request</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value><elementReference>employee_name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value><elementReference>department</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Type__c</field>
            <value><stringValue>software_access</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value><elementReference>systems_text</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Open</stringValue></value>
        </inputAssignments>
        <object>IT_Support_Request__c</object>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
    </recordCreates>
    <label>Provision IT Access</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Department</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employee_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>it_request_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>onboarding_request_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systems_provisioned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>systems_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
